{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>

    <div>
        {% for message in app.session.getFlashBag.get('success') %} 
                <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    </div>

    <table class="table table" id="paginationTable">
        <thead><th>#</th><th>User</th><th>Description</th><th></th></thead>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>
                    <a href="{{ app.request.baseurl }}/todo/{{ todo.id }}">
                       {{ todo.description }}
                    </a>
                </td>
                <td>
                    <form class="inline_form" method="post" action="{{ app.request.baseurl }}/todo/delete/{{ todo.id }}">
                        <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                    </form>

                    <!-- Show "Set as complete button only if task is not completed" --> 
                    {% if todo.is_complete == 0 %}
                        <form class="inline_form" method="post" action="{{ app.request.baseurl }}/todo/complete/{{ todo.id }}">
                            <button type="submit" id="complete_{{ todo.id }}" class="btn btn-xs btn-success" onClick="completeOnClick('{{ todo.id }}')" title="Complete Task"><span class="glyphicon glyphicon glyphicon-ok glyphicon-white"></span></button>
                        </form>
                    {% endif %}
                    <!---->

                    <!-- View JSON button with popup modal --> 
                    <button title="View Json Format" data-id="{{ todo.id }}" type="button" class="btn btn-xs btn-primary glyphicon glyphicon-zoom-in modalPopUpButton" data-toggle="modal" data-target="#viewModalPopUp"></button>

                </td>
            </tr>
        {% endfor %}
    </table>
    <table class="table table">
        <tr>
            <form method="post" action="{{ app.request.baseurl }}/todo/add">
                <td colspan="3">
                    <input type="textbox" name="description" class="small-6 small-center" placeholder="Description..." required>
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="viewModalPopUp" tabindex="-1" role="dialog" aria-labelledby="viewModalPopUpTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="viewModalPopUpTitle">View JSON Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <!-- Modal Content Here -->
            <p>Todo Data: <span id="todoId"></span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}